@import "/*";
@import "bootstrap";
@import "tether";


.btn-primary {
    width: 16px;
    height: 16px;
    padding: 4px;
  }

.btn-success {
    width: 16px;
    height: 16px;
    padding: 4px;
  }

.btn-danger {
    height: 16px;
    padding: 4px;
  }  


  